@import url('https://fonts.cdnfonts.com/css/iowanoldst-bt');

.main-div {
    background-image: url('./asset/Rectangle\ 4237.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 1000px;    
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 32px ;
    background-color: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.kid {
    color: #FFF;
    font-size: 109px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 440px;
    text-align: right;
    margin-left: 100px; */
}
.company-name {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.nav-link {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}
.hamburgers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    /* height: 36px; */
    flex-shrink: 0;
}
.shortcut{
    display: none;
}
@media screen and (max-width: 728px) {
    
    .nav-link{
        display: none;
    }
    .main-div{
        background-size: contain;
    }
    .hamburgers{
        gap: 10px;
    }
    .company-name{
        color: #000;
        font-family: Iowan Old Style;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .shortcut{
        display: flex;
    }
    .kid{
        color: #FFF;
        font-family: Iowan Old Style;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 125px;
    }
}

/* .background-image {
    display: flex;
    align-self: stretch;
    justify-content: center;
    width: 1728px;
    /* height: 596px; */
/* } */